body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-image: url("/img/network.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

a:link {
    color: #f5f5f7;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: lightyellow;
    text-decoration: underline;
}

.headline {
    color: #f5f5f7;
    text-align: center;
}

.content {

}

.labs-content {

}

.labs-header {
    font-size: 2em;
}

.labs-links {
    text-align: center;
    list-style-type: none;
    color: lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
    padding: 5px;
    width: 100%;
}

.github-content {

}

.github-header {
    text-align: center;
}

.img-wrapper {
    width: auto;
    height: auto;
}

li {
    font-size: 1.5em;
}