html {
    height: 100%;
}

body {
    height: 100%;
}

picture img {
    max-width: 100%;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    table-layout: fixed;
}

td, th {
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:link {
    color: darkblue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: rgb(206, 13, 13);
}

.footer {
    background: #c6d9f1;
    height: 117px;
}

.footer-heading {
    padding: 20px;
    text-align: left;
}

.footer-paragraph {
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    text-align: right;
}

.left-side {
    background: #fde9d9;
    padding: 20px;
    text-align: center;
    width: 20%;
}

.right-content {
    text-align: center;
}

.header {
    background: #c6d9f1;
    height: 120px;
}

.menu-list {
    text-align: center;
    margin: 0;
    font-size: 1.3em;
}

.menu-list-item {
    margin: auto;
    padding: 5px;
}

.header-slogan {
    width: 30%;
    text-align: right;
    padding: 10px;
}

.products-list {
    margin-top: 5px;
    text-align: justify;
    display: inline-block;
}

.products-list li {
    list-style-position: inside;
}

.center-top {
    background-color: wheat;
    padding-right: 10px;
    height: 50px;
    text-align: right;
}

.center-bottom {
    text-align: left;
}

.models-list {
    display: initial;
    list-style-position: inside;
    margin-top: 5px;
}

.right-side {
    min-width: 100px;
    max-width: 150px;
    background-color: #eaf1dd;
}

.right-side h2 {
    margin-bottom: 5px;
}